<!doctype html>
<html lang="en">
  <head>
    <title>Send Mail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
  <body>
      
    

    <div class="container">
        <h1>Enviar email</h1>
        <form action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" 
                        name="email" id="email" aria-describedby="emailHelpId" 
                        placeholder="Digite seu email">
            </div>
            <div class="form-group">
              <label for="subject">Título</label>
              <input type="text" class="form-control" name="subject" 
                     id="subject" aria-describedby="helpId" placeholder="Ditite um título">
            </div>
            <div class="form-group">
              <label for="description">Digite um texto</label>
              <textarea type="text-area" class="form-control" name="description" 
                        id="description" aria-describedby="helpId" 
                        placeholder="Ditite um texto" rows="4" cols="50"></textarea>
              
            </div>
            <button type="button" class="btn btn-primary" id="sendMail">Enviar email</button>
        </form>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sendMail").click(function(){
                var to = $("#email").val();
                var subject = $("#subject").val();
                var description = $("#description").val();
                
                var data = {
                    to: to,
                    subject: subject,
                    html: "<h1> email enviado </h1>" + 
                        "<p>" + description + "</p>",
                }
                $.ajax({
                    type: "POST",
                    url: "http://api-gezi-com-br.umbler.net/sendmail",
                    contentType: "application/json",
                    data: JSON.stringify({data}),
                
                    success: function(result){
                        alert(result);
                    },
                    error: function(error) {
                        alert(error.error);
                    }
                });

            })
        })

        /* function sendMail(){

            var data = {
                to: "ricardo_costa43@hotmail.com",
                subject: "email de teste",
                html: "<h1> email enviado </h1>",
            }
    
            var request = $ajax({
                type: "POST",
                url: "http://localhost:8081/api/sendmail",
                contentType: "application/json",
                data: JSON.stringify({data}),
            })
    
            request.done(function (res){
                console.log(res);
            });
    
            request.fail(function (textStatus, errorThrown){
                console.error(textStatus, errorThrown);
            });
        } */

    </script>
</body>
</html>